@tailwind base;
@tailwind components;
@tailwind utilities;




.embla {
  max-width: 48rem;
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  overflow: hidden;
  background-color: #f2f7eb;
  padding: 1rem;
  border-radius: 1rem;
}
.embla_products {
  width: 100%;
  margin: auto;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  overflow: hidden;
  padding: 1rem;
  border-radius: 1rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__container_products {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide_products {
  flex: 0 0 20%;
 
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(red, 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.1rem #BCD89D;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #BCD89D;
  background: #BCD89D;
}



.curved-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.curved-underline::before {
  content: '';
  position: absolute;
  bottom: -4px; /* Adjust the distance of the underline from text */
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the thickness of the underline */
  background: linear-gradient(to right, #e8f8d6, #BCD89D); /* Gradient colors */
  border-radius: 10px; /* Adjust the curve radius */
   clip-path: ellipse(50% 40% at 50% 100%); /* Larger ellipse for thicker curve */

  z-index: -1; 
}


